@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Poppins:ital,wght@0,300;0,500;1,400;1,600&display=swap");

/* body {
  overflow: hidden;
} */

.Main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: contrast(110%) opacity(100%) saturate(120%);
  object-fit: cover;
}

.Nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #4f535c51;
  height: 6rem;
}

.Logo {
  font-family: "Poppins", sans-serif;
  color: #e9d5bd;
  font-size: 32px;
  font-weight: 600;
  margin-top: 1.3rem;
  margin-left: 3rem;
  margin-right: 10rem;
}

.Main-menu {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.Text-menu {
  padding: 30px 20px;
}

.Register {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-left: 50rem;
  margin-top: 2rem;
  color: #fff;
}

.Text-register {
  margin-left: 1rem;
}

.Container-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  letter-spacing: 5px;
}

.Sub-title {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.Play-now {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  background: linear-gradient(90deg, #ff8d30 10%, #cc4b00 100%);
  padding: 15px 60px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 8px;
  transition: 545ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}

.Play-now:hover {
  transition: 545ms;
  padding: 15px 70px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #f4a261 0%, #cc4b00 100%);
  color: #ffffff;
  border: none;
}

.Scroll {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.Text-scroll {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
  font-weight: 600;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: 1.2rem;
}

.animation {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.animation--infinite {
  animation-iteration-count: infinite;
}
.animation--up-down {
  animation-name: upDown;
}

@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* ---PAGE 2-------------------------------- */
.Second-page {
  background-image: url(./the-games-bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  color: #fff;
}

.P2-Container-1 {
  width: 70%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin-left: 2rem;
}

.P2-Container-2 {
  color: #fff;
}

.P2-text1 {
  margin-top: 15rem;
  letter-spacing: 0.2rem;
  font-size: 24px;
  font-weight: 400;
}

.P2-text2 {
  margin-top: 1rem;
  letter-spacing: 0.5rem;
  font-size: 56px;
  font-weight: 300;
}

.slider-container {
  display: flex;
  align-items: end;
  height: 50vh;
}

.swiffy-slider {
  max-width: 65%;
  height: 50%;
  /* margin-left: 500px; */
  margin-top: 15rem;
}

/* ---PAGE 3---------------------------- */

.Third-page {
  background-image: url(./features.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
}

.P3-Container1 {
  width: 50vw;
  width: 100vh;
}
.P3-Container2 {
  width: 50vw;
  width: 100vh;
  font-family: "Poppins", sans-serif;
}

.P3-Text1 {
  margin-top: 10rem;
  letter-spacing: 2px;
  margin-left: 30px;
}

.P3-Text2 {
  margin-top: 5px;
  font-size: 52px;
  letter-spacing: 2px;
  margin-left: 30px;
  font-weight: 300;
}

.P3-List {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  position: relative;
  margin-left: 30px;
}

.P3-List-feature {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.featureActive {
  border-left: 3px solid #ffffff;
  max-width: 400px;
}

.featureActive :before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  z-index: 100;
  left: -10px;
  top: 0px;
  background: #fff;
  border: 2px solid #ffbb00;
}

.featurePasive {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  top: 130px;
}

.P3-List-Orange {
  font-size: 20px;
  font-weight: 400;
  color: #ffb548;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
}

.P3-List-TBD {
  font-size: 20px;
  font-weight: 400;
  color: #ffb548;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
}

.P3-List-White {
  margin-left: 30px;
}

/* --- PAGE 4 ---------------- */

.Fourth-page {
  background-image: url(./requirements.png);
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.P4-Container1 {
  display: flex;
  margin-bottom: 5rem;
  text-align: center;
  justify-content: flex-start;
}

.P4-Container2 {
  width: 100vw;
  align-items: start;
}

.P4-Text1 {
  display: flex;
  text-align: center;
  width: 300px;
}

.P4-Text2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  font-size: 52px;
}

.P4-Container3 {
  width: 100vw;
}

.my-table {
  border-collapse: collapse;
  margin-left: 100px;
  margin-top: 50px;
  background-color: #927c6254;
  border: solid 1px #717171;
}

.my-table td {
  border: 1px solid rgb(154, 154, 210);
  padding: 30px;
}

.tableTitle {
  color: #e85d00;
  font-size: 24px;
}

.tableDesc {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.container1-1 {
  width: 50vw;
  align-items: start;
}

.container2-2 {
  width: 50vw;
}

/* ---PAGE 5 ------------------------- */
.Fifth-Page {
  width: 100vw;
  height: 100vh;
  background-image: url(./TopScoresbg.png);
  color: #fff;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.P5-Container1 {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10rem;
}

.P5-Container2 {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.P5-C1-Text1 {
  margin-bottom: 5px;
}

.P5-C1-Text1 {
  font-family: "Poppins", sans-serif;
  margin-top: 5rem;
  font-size: 52px;
}

.P5-C1-Text2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.P5-C1-Text3 {
  padding: 10px 20px;
  width: 10rem;
  margin-top: 2rem;
  background-color: #ff8d30;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

/* CARD PAGE 5 */

.rightSide {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  background-color: #18476540;
  padding: 30px 50px;
  border-radius: 8px;
  width: 500px;
  height: 180px;
}

.card2 {
  display: flex;
  align-items: start;
  background-color: #18476540;
  padding: 30px 50px;
  border-radius: 8px;
  width: 500px;
  height: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -200px;
}

.card img {
  width: 40px;
  height: 40px;
  scale: 150%;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -100px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffaa22;
  margin-left: 20px;
}

.cardTitle {
  color: #fff;
  font-size: 10px;
  font-weight: 10;
  margin-bottom: 50px;
}

.card-body {
  font-size: 15px;
  margin-left: -50px;
  margin-top: 20px;
}

.date {
  font-size: 10px;
  margin-left: -50px;
  margin-top: 20px;
}

/* ---Sixth Page --------------------- */

.Sixth-Page {
  background-image: url(./newsletter.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.P6-Container1 {
  width: 50vw;
  height: 100vh;
}

.P6-Container-2 {
  width: 55vw;
  height: 100vh;
}

.P6-C2-Text1 {
  margin-top: 15rem;
  font-size: 24px;
}

.P6-C2-Text2 {
  font-size: 56px;
}

.P6-C2-Text3 {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
}
.P6-C2-ContainerInput1 {
  width: 80%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}

.Email {
  color: #fff;
  width: 20rem;
  height: 2.5rem;
  background-color: #54545477;
  margin-right: 2rem;
  margin-top: 3rem;
  border-radius: 4px;
}

.Button1 {
  color: #000000;
  background-color: #ffaa22;
  padding: 2px 5px;
  width: 10rem;
  height: 2.5rem;
  margin-top: 3.2rem;
  border-radius: 8px;
}

/* ----FOOTER-------------------------- */

.Footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.Footer-Top {
  display: flex;
  margin-left: 35rem;
  flex-direction: row;
}

.Footer-Menu {
  display: flex;
}

.Text-Footer {
  margin-left: 3rem;
}

.fa-facebook {
  background: #000000;
  color: rgb(255, 255, 255);
  scale: 150%;
  margin-left: 7rem;
}

.fa-twitter {
  background: #000000;
  color: rgb(255, 255, 255);
  scale: 150%;
  margin-left: 2.5rem;
}

.fa-youtube {
  background: #000000;
  color: rgb(255, 0, 0);
  scale: 150%;
  margin-left: 2.5rem;
}

.fa-skype {
  background: #000000;
  color: rgb(255, 255, 255);
  scale: 150%;
  margin-left: 2.5rem;
}

.fa:hover {
  opacity: 0.9;
}

.Line {
  width: 100vw;
  height: 30px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.Footer-Line {
  border-top: 2px solid #ccc;
  margin: 20px 0;
  width: 80%;
  margin-left: 10rem;
}

.Copyright-Box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-left: 180px;
  margin-bottom: 50px;
}
